.header{
    margin: auto;
    width: 600px;
    text-align: center;
}

.status{
    margin: auto;
    width: 400px;
    height: 100px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    
    
}

.controls{
    margin: auto;
    
    padding-top: 20px;
    text-align: center;
}