.header{
    margin: auto;
    width: 600px;
    text-align: center;
}

.status{
    margin: auto;
    width: 400px;
    height: 100px;
    line-height: 100px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    
}

.controls{
    margin: auto;
    
    padding-top: 20px;
    text-align: center;
}